h1 {
  color: rgb(65, 8, 65);
  text-align: center;
  margin: 50px 0px 75px 0px;
  font-size: 5em;
  font-weight: 900;
  line-height: 1;
  background-color: rgb(196, 196, 247);
}

.iching {
  margin: 75px 20px 75px 20px;
}

.question {
  font-weight: bold;
  border: hidden;
  box-shadow: 0px 0px 25px 2px rgba(35, 23, 65, 0.2);
  margin: 0px 0px 50px 0px;
  padding: 5px;
  font-size: 150%;
  color: rgb(102, 19, 102);
}

h3 {
  color: rgb(102, 19, 102);
  text-align: center;
}

body {
  background-color: rgb(175, 175, 241);
  text-align: center;
}

form {
  display: inline-block;
  margin: 0px 20px 0px 20px;
}

button {
  display: inline-flex;
  height: 20px;
  width: 250px;
  border: 1px hidden rgb(94, 13, 94);
  margin: 0px 20px 20px 20px;
  background-color: rgb(196, 196, 247);
  font-size: .8em;
  align-items: center;
  justify-content: center;
}

#pastReadings {
  width: 75%;
  display: inline-block;
  margin: 0px 20px 75px 20px;
}

.pastReading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:  rgb(65, 8, 65);
  margin: 5%;
  padding: 10px;
  border: hidden .25px rgb(90, 82, 90);
  box-shadow: 0px 0px 10px 2px rgba(35, 23, 65, 0.2);
  background-color: rgb(196, 196, 247);
}

.identification {
  display: inline-flex;
  height: 20px;
  margin: 20px 20px px 20px;
  align-items: center;
  justify-content: center;
}

.readingInfo {
  margin: 0px 0px 75px 0px;
}

.readingDetails {
  width: 85%;
  margin: 0px 20px 0px 20px;
  padding: 10px;
}

.thoughts {
  border: hidden;
  box-shadow: 0px 0px 10px 1px rgba(35, 23, 65, 0.2);
  margin: 0px 0px 25px 0px;
  width: 85%;
  margin: 20px 20px 20px 20px;
  padding: 10px;
  font-size: 85%;
}

.updateDelete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  margin: 0px 0px 25px 0px;
  padding: 0px;
  column-gap: 20px;
}

.newNotes {
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-size: 85%;
}

.hexDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 85%;
}

.linesDisplay {
  font-size: 85%;
  display: flex;
  flex-direction: column;
}

.actualHex {
  font-size: 1000%;
}